{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
    	"react/prop-types": 0,
    	"no-console": 0,
    	"click-events-have-key-events": 0,
        "func-names": ["error", "as-needed"]
    }
}